.nav> li > a > .label {
    position: absolute;
    top: 9px;
    right: 12px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}
.label-success {
    background-color: #d9534f;
}

.margin-button {
	margin-right: 2%;
}